/**
 * 十周年UI - 特效样式
 */

/** 技能名显示 */

.skill-name {
	display: block;
	position: absolute;
	left: 50%;
	top: calc(50% + 165px);
	font-size: 55px;
	font-family: xingkai;
	color: rgb(215, 234, 67);
	text-shadow:
		0 0 5px rgb(77, 60, 51),
		0 0 4px rgb(77, 60, 51);
	transform: translateX(-50%);
	animation: scale-skill-name 2.18s linear forwards;
	z-index: 99 !important;
}

/** 动画定义 */

@keyframes scale-skill-name {
	0% {
		opacity: 0;
		transform: translateX(-50%) scale(5);
	}

	18% {
		opacity: 0;
		transform: translateX(-50%) scale(5);
	}

	20% {
		opacity: 1;
		transform: translateX(-50%) scale(4.5);
	}

	23% {
		opacity: 1;
		transform: translateX(-50%) scale(0.95);
	}

	27% {
		opacity: 1;
		transform: translateX(-50%) scale(1);
	}

	92% {
		opacity: 1;
		transform: translateX(-50%) scale(1);
	}

	100% {
		opacity: 0;
		transform: translateX(-50%) scale(1);
	}
}
